body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header .logo {
    font-weight: bold;
    font-size: 1.5em;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
}

.search-box .search {
    width: 450px;
    padding: 8px 10px 8px 35px; /* espaço para o ícone */
}

.search-box .search-icon {
    position: absolute;
    left: 10px;
    width: 18px;
    opacity: 0.7;
}



header .icons span {
    margin-right: 15px;
}

.preorder {
    background: #ff5722;
    color: #fff;
    border: none;
    padding: 3px 10px;   
    font-size: 0.85rem; 
    cursor: pointer;
    border-radius: 6px;  
}


nav ul {
    display: flex;
    list-style: none;
    padding: 10px 20px;
    background: #f5f5f5;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
    cursor: pointer;
}

.banner {
    display: flex;
    padding: 20px;
    gap: 20px;
}

/* Banner principal */
.main-banner {
    flex: 2;
    background: #e0f0ff;
    padding: 40px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-banner button {
    width: fit-content !important;   
    display: inline-block !important;
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 8px;
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px; 
}



.main-banner img {
    width: 460px; 
    position: absolute;
    right: 20px;
    bottom: 20px;
    object-fit: contain;
}

.main-banner h1 {
    max-width: 200px;
}

.main-banner p {
    max-width: 260px;
}

/* Banners laterais */
.side-banners {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-banner {
    background: #f8f8f8;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.side-banner img {
    width: 120px; 
    object-fit: contain;
    margin-bottom: 10px;
}

.products {
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}
.product img {
    width: 120px;   
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto 10px;
}

.product {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    position: relative;
}

.sale {
    position: absolute;
    top: 5px;
    left: 5px;
    background: red;
    color: #fff;
    padding: 2px 5px;
    font-size: 0.8em;
}
